# EditorConfig is awesome: https://EditorConfig.org
# Inspired from Ruby .editorconfig
# https://github.com/ruby/ruby/blob/master/.editorconfig
root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 8
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[*.gemspec]
indent_size = 2

[*.rb]
indent_size = 2

[*.yml]
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[{*[Mm]akefile*,*.mak,*.mk,depend}]
indent_style = tab

[enc/*]
indent_size = 2

[reg*.[ch]]
indent_size = 2

[*.{js,rb,erb,html,py}]
charset = utf-8